<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div class="navigation">
      <div>
        <div><img src="https://previews.123rf.com/images/avectors/avectors1804/avectors180400125/98754612-notification-bell-icon-for-incoming-inbox-message-vector-bell-and-notification-number-sign-for-smart.jpg" height="35px"></div>
        <div><img src="https://cdn0.iconfinder.com/data/icons/basic-ui-elementsblack/3/40-512.png" height="35px"></div>
        <div><h4>Slike</h4></div>
        <div><h4>Gmail</h4></div>
      </div>
    </div>
    <div id="main">
      <img src="https://booglebookclub.com/images/logo.png">
      <input type="text" placeholder="search"><br>
      <div class="wrapper">
        <button class="button">Iskanje Boogle</button><button class="button">Klik na srečo</button>
      </div>
    </div>
    <div class="footer">
      Slovenija
    </div>
  </body>
</html>
